body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color__claro {
  background-color: #fffffe;
}

.btn__fondo {
  background-color: #ff8906;
}

.color__negro {
  background-color: #0f0e17;
  border-bottom: 3px solid #ff8906;
}

.navbar a {
  color: #fffffe;
}
.navbar a:hover {
  color: #ff8906;
}
